<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
	<appSettings>
		<!--<add key="MSMQ" value="DIRECT=TCP:10.29.90.33\Private$\rw3-listinghitqueue"/>-->

		<!--<add key="MSMQ" value="DIRECT=TCP:10.29.90.161\Private$\rw3-listinghitqueue"/>-->

		<!--<add key="MSMQ" value="DIRECT=TCP:10.29.91.34\Private$\rw3-listinghitqueue"/>-->

		<add key="MSMQ" value="DIRECT=OS:SGARW-SNA201.rediv.int\Private$\rw3-listinghitqueue"/>
		


	</appSettings>
</configuration>