<?xml version="1.0" encoding="utf-8"?>
<nlog throwExceptions="true" autoReload="true" internalLogFile="C:\LogFiles\SampleWebApp\NLog.log" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="logFolder" value="c:\LogFiles\SampleWebApp" />
	<variable name="logFilePrefix" value="SampleWebAppNlog" />
	<targets async="true">
		<target name="file"
			xsi:type="File"
			layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}] [${pad:padding=-5:inner=${level:lowercase=true}}] ${threadid} : ${message}${onexception:${newline}    *** EXCEPTION ***${newline}${exception:format=tostring,data:separator=&#13;&#10;:exceptionDataSeparator=&#13;&#10;:maxInnerExceptionLevel=10}${newline}}"
			fileName="${logFolder}\${logFilePrefix}.debug.${date:format=yyyy-MM-dd}.log"
			concurrentWrites="true" />

		<target name="errorfile"
			xsi:type="File"
			layout="[${date:format=yyyy-MM-dd HH\:mm\:ss}] [${pad:padding=-5:inner=${level:lowercase=true}}] ${threadid} : ${message}${onexception:${newline}    *** EXCEPTION ***${newline}${exception:format=tostring,data:separator=&#13;&#10;:exceptionDataSeparator=&#13;&#10;:maxInnerExceptionLevel=10}${newline}}"
			fileName="${logFolder}\${logFilePrefix}.error.${date:format=yyyy-MM-dd}.log"
			concurrentWrites="true" />
	</targets>
	<rules>
		<logger name="*" minlevel="Debug" writeTo="file" />
		<logger name="*" minlevel="Error" writeTo="errorfile" />
	</rules>
</nlog>
